.fixed-width {
	font-family: Courier New, monospace
}

.error {
	text-align: left;
	background-color: #FFC0C0;
	padding: 10px;
	font-size: 10pt;
}

.numeric {
	text-align: right;
}

td, th {
	padding: 6px 20px 6px 20px;
	vertical-align: top;
}

.aura-timeline {
	width: 100%;
	padding: 0px;
	background-color: #000000;
}

.aura-timeline span {
	display: inline-block;
}

.chart-area {
	padding: 0px;
	width: 900px;
}

.wrapper {
	text-align: left;
	width: 1200px;
	padding: 20px;
}

.footer {
	margin-bottom: 20px;
}

.framed-box {
	background-color: #f0f0f0;
	border: 1px solid #c0c0c0;
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.framed-box h3 {
	margin-top: 0px;
}

.info-table {
	width: 100%;
	background-color: #ffffff;
	border: 1px solid #c0c0c0;
}

.info-table thead tr {
	background-color: #f8f8f8;
}

.info-table tbody tr:hover {
	background-color: #f8f8f8;
}

.info-table td {
	border-top: 1px solid #e0e0e0;
}

.mp-chart .tp-chart {
	height: 400px;
	margin: 0 auto;
}

.action-list {
	text-align: left;
	padding: 10px;
	font-size: 9pt;
	margin: 10px;
}

.right {
	text-align: right;
}